doctype html
head
  meta(charset="utf-8")
  title Metafisica Activa®
  link(rel="icon",type="image/png",href="Logo/favicon.png")
body
  header
    .Logo  
      .log
      |Metafisica Activa
    i 
      |&#xe90b
  .header-menu
  .banner(data-img="1")
  footer 
  link(rel="stylesheet", href="/css/common.css")
  script( data-main="/js/config" src="/js/lib/require.js")
      
